    * {
        padding: 0;
        margin: 0;
    }
    
     :root {
        --card_product-margin-left: 10px;
        --card_product-margin-top: 10px;
        --card_product-colum: 5;
        --card_flashsale-margin-left: 10px;
        --card_flashsale-margin-top: 10px;
        --card_flashsale-colum: 4;
        --card_shopeemail-margin-left: 20px;
        --card_shopeemail-margin-top: 10px;
        --card_shopeemail-colum: 3;
        --body-width: 1200px;
    }
    
    body {
        background-color: #f5f5f5;
    }
    
    html,
    body {
        overflow-x: hidden;
    }
    
    .headers {
        background-color: rgba(248, 101, 64, 0.9);
        width: 100%;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    
    .fixheadertop {
        margin-top: 160px;
    }
    
    .header {
        max-width: var(--body-width);
        margin: 0 auto;
        text-transform: capitalize
    }
    
    .header-top {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .header-top__left {
        display: flex;
        flex-direction: row;
    }
    
    .header-top__right {
        display: flex;
        flex-direction: row;
    }
    
    .header-top__left ul {
        padding: 0px 10px;
        margin: 5px 0px;
        cursor: pointer;
    }
    
    .header-top__left ul:not(:first-child) {
        border-left: 1px solid black;
    }
    
    .header-top__right ul {
        padding: 0px 10px;
        margin: 5px 0px;
        cursor: pointer;
    }
    
    .header-center-right {
        padding-right: 10px;
    }
    
    .header-top__right ul:not(:last-child) {
        border-right: 1px solid black;
    }
    
    .header-top__left ul:not(:last-child):hover,
    .header-top__right ul:hover {
        color: blue;
    }
    
    .header-top__left ul:last-child i {
        margin-left: 5px;
    }
    
    .header-top__left ul:last-child i:hover {
        color: blue;
    }
    
    .header-center {
        max-width: var(--body-width);
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .header-center img {
        width: 100px;
        height: 70px;
        cursor: pointer;
    }
    
    .header-search {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 30px;
        flex: 1;
    }
    
    .header-search input {
        padding: 5px 10px;
        border-radius: 10px;
        padding-right: 25px;
        width: 100%;
        border: none
    }
    
    .header-search i {
        position: absolute;
        color: black;
        right: 5px;
    }
    
    .header-search i:hover {
        color: rgb(255, 0, 43);
    }
    
    .header-center-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 8;
    }
    
    .header-center-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 2;
    }
    
    .header a {
        text-decoration: none;
        color: white;
    }
    
    .header-center-right i {
        margin-left: 20px;
    }
    
    .header-center-right i:hover,
    p:hover {
        color: blue;
    }
    /* css header bottom - menuheader */
    
    .header-bottoms {
        display: flex;
        flex-direction: column;
    }
    
    .header-menu_bar {
        color: black;
        display: none;
    }
    
    .header-bottom {
        max-width: var(--body-width);
        height: 30px;
        padding: 10px 0;
        font-size: 24px;
    }
    
    .header-bottom li {
        list-style: none;
        text-align: center;
    }
    
    .header-bottom a {
        text-decoration: none;
        color: black;
    }
    
    .header-bottom>ul {
        display: flex;
        flex-direction: row;
    }
    
    .header-bottom ul li {
        position: relative;
        width: 150px;
    }
    
    .header-bottom>ul>li ul {
        display: none;
    }
    
    .header-bottom>ul>li::before {
        position: absolute;
        content: "";
        width: 150px;
        height: 20px;
        background-color: transparent;
        top: 100%;
        left: 0;
    }
    
    .header-bottom>ul>li>ul {
        z-index: 10;
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
    }
    
    .header-bottom>ul>li>ul li ul {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 100%;
    }
    
    .header-bottom ul li:hover>ul {
        background-color: rgb(235, 226, 226);
        display: block;
    }
    
    .header-bottom ul li:hover>ul a {
        color: black;
    }
    
    .header-bottom ul li:hover {
        background-color: rgb(224, 201, 201);
    }
    
    .header-bottom>ul>li:hover {
        background-color: transparent
    }
    /* end css menu header */
    /* css slider-quang cao */
    
    .slider-quangcao {
        max-width: var(--body-width);
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        overflow: hidden;
    }
    
    .slider-quangcao__left {
        flex: 7;
    }
    
    .slider-quangcao__left img {
        width: 100%;
        height: 310px;
        background-size: cover;
    }
    
    .slider-quangcao__right {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        flex: 3;
    }
    
    .slider-quangcao__right img {
        width: 100%;
        height: 150px;
        background-size: cover;
    }
    
    .slider-quangcao__right img:last-child {
        margin-top: 10px;
    }
    /* css danh muc */
    
    .danhmuc {
        max-width: var(--body-width);
        margin: 0 auto;
        background-color: #ffffff;
        position: relative;
    }
    
    .danhmuc p:first-child {
        padding: 10px 20px;
        text-decoration: underline
    }
    
    .danhmucbao {
        padding-bottom: 10px;
        overflow-x: scroll;
    }
    
    .danhmucbao::-webkit-scrollbar {
        height: 0px;
    }
    
    .danhmucdong {
        display: flex;
        flex-direction: row;
        text-align: center;
        transition: margin-left .6s ease-out;
    }
    
    .danhmucdong_item {
        width: 120px;
        border: solid 1px #ccc;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    .danhmucdong_item-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
    }
    
    .danhmucdong_item p {
        margin-top: 10px;
        cursor: pointer;
    }
    
    .danhmucdong_item img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    
    .danhmuc-action_prev,
    .danhmuc-action_next {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ccc;
        text-align: center;
        line-height: 30px;
        position: absolute;
        cursor: pointer;
        transition: transform .2s ease-in;
    }
    
    .danhmuc-action_prev:hover,
    .danhmuc-action_next:hover {
        transform: scale(1.5);
    }
    
    .danhmuc-action_prev {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
    }
    
    .danhmuc-action_next {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
    }
    /* csss flash sale */
    
    .flashsalses {
        max-width: var(--body-width);
        margin: 20px auto;
        background-color: #ffffff;
    }
    
    .flashsalses h2:first-child {
        padding: 20px 0 0 20px;
        text-decoration: underline
    }
    
    .flashsalse {
        display: flex;
        flex-flow: row wrap;
    }
    
    .flashsale_right {
        flex: 7;
        padding-bottom: 10px;
    }
    
    .flashsale_left {
        flex: 3;
    }
    
    .flashsale-cards {
        display: flex;
        flex-flow: row wrap;
        margin-top: 20px;
    }
    
    .flashsale-card img {
        width: 100%;
        height: 100%
    }
    
    .flashsale-card-img {
        object-fit: cover;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        cursor: pointer;
    }
    
    .flashsale-card {
        width: calc(100% / var(--card_flashsale-colum) - var(--card_flashsale-margin-left) * 2);
        margin: var(--card_flashsale-margin-top) var(--card_flashsale-margin-left);
        display: flex;
        flex-direction: column;
        border-radius: 5px 5px 0 0;
        box-shadow: 1px 1px 1px 1px rgb(153 141 141 / 20%);
        position: relative;
    }
    
    .flashsale-content {
        padding: 5px 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .flashsale-content p {
        cursor: pointer;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    
    .flashsale-cards__gia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: red;
    }
    
    .flashsale-content_bottom {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: 50px;
    }
    
    .flashsale-cards__daban {
        margin-top: 5px;
        position: relative;
    }
    
    .processs {
        width: 100%;
        height: 20px;
        background-color: rgb(248, 180, 180);
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .progress {
        height: 100%;
        width: 60%;
        background-color: red;
    }
    
    .processs p {
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
    
    .flashsale-cards__gia p:first-child {
        text-decoration: line-through;
    }
    /* css flashsale_left*/
    
    .hotsearch {
        width: 100%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding-bottom: 10px;
    }
    
    .hotsearch-cards {
        overflow-y: scroll;
        height: 300px;
    }
    
    .hotsearch-cards::-webkit-scrollbar {
        width: 5px;
        background-color: #ccc;
    }
    
    .hotsearch-cards::-webkit-scrollbar-thumb {}
    
    .hotsearch>p:first-child {
        font-size: 24px;
        padding: 20px 0px;
        margin: 0 20px;
        border-bottom: 1px dashed #000;
    }
    
    .hotsearch-card_img img {
        width: 80%;
        object-fit: cover;
    }
    
    .hotsearch-card {
        display: flex;
        flex-direction: row;
        padding: 0px 20px 0px 10px;
    }
    
    .hotsearch-card_img {
        flex: 2;
        padding: 10px;
        cursor: pointer;
    }
    
    .hotsearch-card_name {
        flex: 4;
        display: flex;
        flex-direction: column;
        line-height: 25px;
    }
    
    .hotsearch-card_name p:first-child {
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    
    .hotsearch-card_danhgia i {
        color: rgb(238, 123, 15);
    }
    
    .text_hotsearch table {
        border-collapse: collapse;
    }
    
    .text_hotsearch {
        margin-top: 10px;
        width: 100%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        height: 304px;
        overflow: hidden;
    }
    
    .text_hotsearch>p:first-child {
        padding: 10px 10px 10px 20px;
        font-size: 24px;
    }
    
    .text_hotsearch table tr {
        border: 1px #ccc solid;
    }
    
    .text_hotsearch table tr>td {
        padding: 0 15px;
    }
    
    .text_hotsearch table tr td:nth-child(2) {
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    
    .text_hotsearch table tr td:first-child {
        border-right: solid 1px #ccc
    }
    
    .text_hotsearch_table {
        width: 100%;
        height: 245px;
        overflow-y: scroll;
    }
    
    .text_hotsearch_table a {
        text-decoration: none;
        color: black;
    }
    
    .text_hotsearch_table::-webkit-scrollbar {
        width: 5px;
        background-color: #ccc;
    }
    
    .text_hotsearch_table::-webkit-scrollbar-thumb {}
    /* css shopee mail */
    
    .shopeemails {
        max-width: var(--body-width);
        margin: 0 auto;
        background-color: #ffffff;
    }
    
    .shopeemails>p {
        font-size: 20px;
        padding: 10px 20px 0 20px;
        text-transform: uppercase;
        text-decoration: underline
    }
    
    .shopeemail {
        display: flex;
        flex-flow: row wrap;
    }
    
    .shopeemail_noidung {
        flex: 6;
    }
    
    .shopeemail_slider {
        flex: 4;
        padding: 10px;
        position: relative;
        cursor: pointer;
        height: 520px;
    }
    
    .shopeemail_slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .shopeemail_noidung_cards {
        display: flex;
        flex-flow: row wrap;
    }
    
    .shopeemail_noidung_card img {
        width: 150px;
        width: 150px;
        background-size: cover;
        border-radius: 50%;
    }
    
    .shopeemail_noidung_card {
        width: calc(100% / var(--card_shopeemail-colum) - var(--card_shopeemail-margin-left) * 2);
        margin: var(--card_shopeemail-margin-top) var(--card_shopeemail-margin-left);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }
    
    .shopeemail_card_hang {
        margin-top: 10px;
        border-radius: 30px;
        width: 150px;
        height: 50px;
        box-sizing: border-box;
        box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .shopeemail_card_hang img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .shopeemail_card_uudai {
        margin-top: 10px;
        font-size: 24px;
        color: red;
    }
    /* css product */
    
    .products {
        max-width: var(--body-width);
        margin: 20px auto;
        background-color: #ffffff;
    }
    
    .products>p {
        padding: 10px 20px;
        font-size: 24px;
        color: blue;
        text-transform: capitalize;
        text-decoration: underline
    }
    
    .product_cards {
        display: flex;
        flex-flow: row wrap;
    }
    
    .product_card {
        box-shadow: 1px 1px 1px 1px rgb(153 141 141 / 20%);
        width: calc(100% / var(--card_product-colum) - var(--card_product-margin-left) * 2);
        margin: var(--card_product-margin-top) var(--card_product-margin-left);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
    }
    
    .product_card:hover {
        border: solid 1px red;
    }
    
    .product_card_img {
        overflow: hidden;
        width: 100%;
        height: 200px;
        flex-shrink: 0;
        cursor: pointer;
    }
    
    .product_card_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .product_card_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .product_card_ten {
        cursor: pointer;
        padding: 5px 5px 0 5px;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        /*bỏ đi cũng dk vẫn hiển thị dấu ....*/
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    
    .product_card_real {
        color: red;
        text-decoration: line-through;
    }
    
    .product_card_show {
        color: red;
    }
    
    .product_card_gia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    
    .product_card_review {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px 5px 5px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    }
    
    .product_card_danhgia {
        display: flex;
        flex-direction: row;
    }
    
    .product_card_danhgia i {
        font-size: 14px;
        color: rgb(255, 115, 0);
    }
    
    .product_card_daban {
        margin-left: 20px;
        opacity: .5;
    }
    
    .product_card_dathang {
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .product_card_dathang a {
        color: black;
    }
    
    .product_card_content_bao {
        overflow: hidden;
        padding-bottom: 10px;
    }
    
    .product_card_sale {
        text-align: center;
        color: red;
        width: 45px;
        height: 45px;
        font-size: 16px;
        background-color: rgb(248, 235, 59);
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .product_card_sale::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-top: 5px solid rgb(248, 235, 59);
        top: 100%;
        right: 0;
    }
    
    .product_card_sale::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-right: 20px solid transparent;
        border-top: 5px solid rgb(248, 235, 59);
        top: 100%;
        left: 0;
    }
    
    .product_card_like {
        position: absolute;
        top: 3px;
        left: 3px;
        background-color: red;
        color: white;
        padding: 2px;
        font-size: 14px;
    }
    
    .product_cards_view_add {
        text-align: center;
    }
    
    .product_cards_view_add button {
        padding: 10px;
        background-color: rgb(230, 113, 113);
        border: none;
        color: white;
        margin: 0 auto;
        cursor: pointer;
    }
    /* css sale footer */
    
    .salefooter {
        max-width: var(--body-width);
        margin: 20px auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }
    
    .salefooter::-webkit-scrollbar {
        height: 0px;
    }
    
    .salefooter img {
        margin: 10px 15px;
        width: calc(100% / 3 - 30px);
        box-sizing: border-box;
        flex-shrink: 0;
        height: 150px;
    }
    /* css footer */
    
    .footers {
        width: 100%;
        background-color: rgb(51, 49, 51);
        text-transform: capitalize;
    }
    
    .footer {
        max-width: var(--body-width);
        margin: 20px auto;
        padding: 30px 15px 0 15px;
        box-sizing: border-box;
    }
    
    .footer-top a {
        color: #ffffff;
        text-decoration: none;
    }
    
    .footer-top li {
        list-style: none;
    }
    
    .footer-top>ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        flex: 1;
    }
    
    .footer-topr li>ul {
        padding: 10px;
        line-height: 18px;
    }
    
    .footer-bottom {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* css test */
    
    @media screen and (max-width: 1000px) {
         :root {
            --card_flashsale-colum: 3;
        }
    }
    
    @media screen and (max-width: 841px) {
        .fixheadertop {
            margin-top: 185px;
        }
    }
    /* css reponsive tablet */
    
    @media screen and (max-width: 768px) {
         :root {
            --card_product-margin-left: 10px;
            --card_product-margin-top: 10px;
            --card_product-colum: 3;
            --card_flashsale-margin-left: 5px;
            --card_flashsale-margin-top: 5px;
            --card_flashsale-colum: 2;
        }
        .header {
            padding: 0 30px;
        }
        .header-center-left img {
            width: 60px;
            height: auto;
        }
        .header-top__left ul:nth-child(1),
        ul:nth-child(2) {
            display: none;
        }
        .header-top__left ul:nth-child(3) {
            border-left: none;
        }
        .header-center {
            margin-top: 5px;
        }
        .header-top__left ul:nth-child(3) {
            padding-left: 0;
        }
        .header-top__right ul:last-child {
            padding-right: 0;
        }
        .fixheadertop {
            margin-top: 130px;
        }
        .slider-quangcao__left img {
            height: 200px;
        }
        .slider-quangcao__right img {
            height: 95px;
        }
        .danhmuc-action_prev {
            top: 50%;
            left: 15px;
        }
        .danhmuc-action_next {
            top: 50%;
            right: 15px;
        }
        .slider-quangcao,
        .danhmuc {
            padding-right: 10px;
            padding-left: 10px;
        }
        .flashsalses h2:first-child {
            padding: 10px 0 0 20px;
        }
        .flashsale-cards {
            margin-top: 10px;
        }
        .flashsale_right {
            flex: 4;
        }
        .flashsale_left {
            flex: 3;
        }
        .hotsearch>p:first-child {
            font-size: 20px;
            padding: 10px 0px;
            margin: 0px 10px;
        }
        .hotsearch-card_danhgia i {
            font-size: 10px;
        }
        .hotsearch-card_name {
            line-height: 20px;
            margin-top: 5px;
        }
        .hotsearch {
            margin-top: 10px;
        }
        .text_hotsearch>p:first-child {
            font-size: 20px;
        }
        .text_hotsearch {
            height: 330px;
        }
        .text_hotsearch_table {
            height: 280px;
        }
        .flashsale-cards .flashsale-card:nth-child(n+5) {
            display: none;
        }
        .shopeemail_card_hang {
            width: 100px;
            height: 30px;
        }
        .shopeemail_card_uudai {
            font-size: 15px;
        }
        .slide_viewer {
            height: 440px !important;
        }
        .slide_buttons {
            bottom: -25px !important;
        }
        a.slide_btn {
            font-size: 70px !important;
        }
        .salefooter img {
            height: 100px;
        }
        .footer-top>ul {
            display: flex !important;
        }
        .footer ul {
            display: block;
        }
    }
    /* css reponsive tablet */
    
    @media screen and (max-width: 414px) {
         :root {
            --card_product-margin-left: 5px;
            --card_product-margin-top: 5px;
            --card_product-colum: 2;
            --card_flashsale-margin-left: 5px;
            --card_flashsale-margin-top: 5px;
            --card_flashsale-colum: 2;
            --card_shopeemail-margin-left: 5px;
            --card_shopeemail-margin-top: 5px;
            --card_shopeemail-colum: 2;
        }
        .header-top__left ul:not(:nth-child(3)) {
            display: nones;
        }
        .header-top__right ul:first-child {
            display: none;
        }
        .header-top {
            font-size: 12px;
        }
        .header-center-left img {
            width: 40px;
            height: auto;
        }
        .header {
            padding: 0 5px;
        }
        .header-search {
            margin-left: 5px;
        }
        .header-center-left {
            flex: 4;
        }
        .header-center {
            font-size: 12px;
        }
        /* css header menu moblie*/
        .header-menu_bar {
            display: block;
        }
        .header-menu_bar {
            width: 80px !important;
            font-size: 20px;
        }
        .fixheadertop {
            margin-top: 92px;
        }
        .header-bottom>ul {
            transform: translateX(-100%);
        }
        /*  */
        .slider-quangcao,
        .danhmuc {
            padding-right: 5px;
            padding-left: 5px;
        }
        .slider-quangcao__right {
            margin-left: 5px;
        }
        .slider {
            margin: 20px auto !important;
        }
        .flashsale_left {
            width: calc(100% - 10px);
            margin: 0 auto;
            padding: 0 5px;
        }
        .flashsale_right {
            width: calc(100% - 10px);
            margin: 0 auto;
        }
        .shopeemail_noidung_cards .shopeemail_noidung_card:nth-child(n+5) {
            display: none;
        }
        .shopeemail_slider {
            flex: 4;
            padding: 5px;
        }
        .slide_viewer {
            height: 340px !important;
        }
        a.slide_btn {
            font-size: 60px !important;
        }
        .slide_buttons {
            bottom: 10px!important;
        }
        .salefooter img {
            margin: 0px 10px;
            width: calc(100% / 2 - 20px);
            height: 80px;
        }
        /* css menu reponsive */
        .header-bottoms {
            position: relative;
        }
        .header-bottom>ul {
            overflow: hidden;
            position: absolute;
            top: 32px;
            left: 0;
            flex-direction: column;
            width: 180px;
            background: rgba(224, 220, 220, 0.9);
            margin: -5px;
            line-height: 30px;
            height: 400px;
            transition: all ease-in 1s;
        }
        .header-bottom ul li {
            overflow: hidden;
            position: static;
            width: 150px;
            text-align: left;
            padding-left: 20px;
            text-transform: capitalize;
            font-size: 22px;
        }
        .header-bottom>ul>li>ul {
            position: inherit;
        }
        .header-bottom ul li:hover>ul {
            background-color: rgb(231 169 169);
        }
        .header-bottom {
            padding: 5px 0 0 10px;
            height: auto;
        }
        a.slide_btn {
            margin: 0 !important;
        }
        .shopeemail_slider {
            height: 450px;
        }
        .slider-quangcao__left img {
            height: 130px;
        }
        .slider-quangcao__right img {
            height: 60px;
        }
        .product_card_danhgia i {
            font-size: 10px;
        }
        .product_card_daban {
            font-size: 12px;
        }
    }
    
    @media screen and (max-width: 320px) {
        .slide_viewer {
            height: 365px !important;
        }
    }