:root {
    --card_xct_spbc-margin-left: 10px;
    --card_xct_spbc-margin-top: 10px;
    --card_xct_spbc-colum: 1;
}

.xemchitiet {
    max-width: var(--body-width);
    margin: 0 auto;
    font-size: 24px;
    cursor: pointer;
}

.xemchitiet_title {
    padding: -10px 10px;
}

.xemchitiet_title>p {
    background-color: #f5f5f5;
}

.xemchitiet_card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #ffffff;
}

.xemchitiet_card_slide {
    flex: 4;
}

.xemchitiet_card_content {
    flex: 6;
    padding: 5px 10px 10px 10px;
    border-left: 1px solid #ccc;
}

.xctcc-danhgia {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.xctcc-danhgia1 {
    display: flex;
    flex-direction: row;
    color: red;
}

.xctcc-danhgia1 span {
    margin-right: 5px;
}

.xctcc-danhgia2,
.xctcc-danhgia3 {
    border-left: 1px solid #000;
    opacity: 0.6;
    margin: 5px;
    padding: 0 10px;
}

.xctcc-giaban {
    color: red;
    font-size: 30px;
    padding: 20px 30px 20px 10px;
}

.xctcc-vanchuyen table {
    border-collapse: collapse;
}

.xctcc-vanchuyen table td {
    padding: 10px 0;
}

.xctcc-vanchuyen table tr td:first-child {
    opacity: .6;
    padding-right: 20px;
    width: 120px;
}

.xctcc-vanchuyen table tr:nth-child(1) i {
    color: rgb(52, 69, 223);
}

.xctcc-vanchuyen table tr:nth-child(3) i {
    color: rgb(1, 145, 1);
}

.xctcc-vanchuyen table tr:nth-child(2) td:nth-child(2) {
    opacity: .5;
}

.xctcc-vanchuyen table tr:nth-child(3),
tr:nth-child(4) {
    opacity: .5;
}

.xctcc-vanchuyen table tr:nth-child(5) button {
    padding: 3px 12px;
    height: 30px;
    width: 60px;
    margin: 0 10px;
}

.xctcc-vanchuyen table tr:nth-child(6) td:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.xctcc-vanchuyen table tr:nth-child(6) input {
    width: 60px;
    height: 28px;
    text-align: center;
    border: none;
    border: solid 1px #ccc;
}

.xctcc-vanchuyen table tr:nth-child(6) button {
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
}

.xctcc-vanchuyen table tr:nth-child(6) p {
    font-size: 18px;
    padding-left: 10px;
}

.xctcc-dathang {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    padding-bottom: 30px;
}

.xctcc-dathang i {
    padding: 0 4px;
}

.xctcc-dathang button {
    padding: 10px 10px 10px 5px;
    font-size: 20px;
    color: red;
    border: solid red 1px;
    margin-left: 20px;
}

.xctcc-dathang button:last-child {
    background-color: rgb(235, 52, 52);
    color: white;
}

.xctcc-comment {
    display: flex;
    flex-direction: row;
    padding: 20px 10px 20px 10px;
    border-top: solid 1px #ccc;
}

.xctcc-comment i,
p {
    padding: 0 10px;
    opacity: .7;
}

.xctcc-comment p:not(:first-child) {
    border-left: 1px solid #ccc;
}


/* xemchitiet_card_slide*/

.xemchitiet_card_slide {
    display: flex;
    flex-direction: column;
}

.xctcl_top {
    width: 100%;
    height: 400px;
    background-color: red;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.xctcl_bottom {
    width: 100%;
    height: 230px;
}


/* css lai slider */

.face {
    height: 120px;
    opacity: 1;
}

#slider-container {
    margin-top: 90px;
}

.nav i {
    font-size: 30px;
}

.arrow {
    top: 196px;
    left: 40px;
}

.xemchitiet_card_slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
}

.xemchitiet_card_slide {
    padding: 10px 30px;
}

.xctcc-share {
    display: flex;
    flex-flow: row wrap;
}

.xctcc-share2 {
    margin-left: 50px;
}

.fa-facebook-messenger {
    color: rgb(16, 108, 194);
}

.fa-facebook-square {
    color: rgb(16, 108, 194);
}

.fa-instagram {
    color: rgb(230, 41, 41);
}

.fa-twitter-square {
    color: rgb(6, 166, 206);
}

.fa-heart {
    color: rgb(247, 34, 6);
    margin-right: 5px;
}


/* css xem chi tiet sp xct-ctsp */

.xct_ctsp {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: space-between;
}

.xct-ctsp-left {
    width: 77%;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 10px;
}

.xct-ctsp-right {
    width: 20%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.xct-ctsp-right>div:first-child {
    padding: 20px 20px 0 20px;
    font-size: 18px;
    text-transform: capitalize;
}

.xct-ctsp-right img {
    width: 100%;
    object-fit: cover;
}

.xct-ctsp-right_cards {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}

.xct-ctsp-right_card:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.xct-ctsp-right_card {
    width: calc(100% / var(--card_xct_spbc-colum) - var(--card_xct_spbc-margin-left) * 2);
    margin: var(--card_xct_spbc-margin-top) var(--card_xct_spbc-margin-left);
}

.xct-ctsp-right_card_tengia div {
    margin: 5px 0;
}

.xct-ctsp-right_card_tengia div:nth-child(2) {
    color: red;
    font-size: 20px;
}

.xcv_dgsp_sao {
    padding: 10px;
}

.xct_sp_content {
    padding: 10px;
}

.xct_sp_ctsp,
.xct_sp_mtsp,
.xcv_dgsp>div:first-child,
.xcv_cmt>div:first-child {
    padding: 10px;
    background-color: rgb(235, 223, 223);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.xct_sp table {
    padding: 10px;
}

.xct_sp table tr td:first-child {
    padding: 5px 20px 5px 10px;
}

.xct_sp_content {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .xemchitiet_card {
        display: block;
    }
    .xemchitiet_card_slide {
        width: calc(100% -30px) !important;
        padding: 10px 15px;
        box-sizing: border-box;
    }
    .xctcl_bottom {
        width: 100%;
        height: 310px;
    }
    .xct-ctsp-left {
        width: 70%;
    }
    .xct-ctsp-right {
        width: 29%;
    }
}

@media screen and (max-width: 414px) {
    .xct-ctsp-left {
        width: 100%;
    }
    .xct-ctsp-right {
        width: 100%;
    }
     :root {
        --card_xct_spbc-margin-left: 5px;
        --card_xct_spbc-margin-top: 5px;
        --card_xct_spbc-colum: 2;
    }
    .xemchitiet_title>p {
        font-size: 14px;
    }
    .xemchitiet {
        font-size: 18px
    }
    .xctcc-danhgia {
        font-size: 14px;
    }
    .xctcc-danhgia1 {
        font-size: 12px;
    }
    .xctcc-vanchuyen {
        font-size: 14px;
    }
    .xctcc-vanchuyen table tr:nth-child(5) button {
        width: 50px;
        margin: 0;
    }
    .xctcc-vanchuyen table tr:nth-child(6) p {
        font-size: 10px;
    }
    .xctcc-vanchuyen table tr:nth-child(6) input {
        width: 40px;
    }
    .xctcc-dathang button {
        font-size: 14px;
    }
    .xctcc-comment {
        font-size: 10px;
    }
}